<h4>Edit {{editBookCtrl.book.title}}</h4>

<form action="" role="form">
    <h3>Edit Category</h3>
    <div class="form-group">
        <label for="edit-title">Title:</label>
        <input ng-model="editBookCtrl.editedBook.title" class="form-control" type="text" id="edit-title" placeholder="Title"/>
    </div>
    <div class="form-group">
        <label for="edit-url">URL:</label>
        <input ng-model="editBookCtrl.editedBook.url" type="text" id="edit-url" class="form-control" placeholder="URL"/>
    </div>
    <button ng-click="editBookCtrl.updatedBook(editBookCtrl.book)" type="submit" class="btn btn-sm btn-default">Save</button>
    <input ng-click="editBookCtrl.cancelEditing()" type="button"  class="btn btn-default btn-sm" value="Cancel"/>
</form>