<h2>{{booksListController.getCurrentCategoryName()}}</h2>

<div ng-repeat="book in booksListController.books | filter:{category:booksListController.getCurrentCategoryName()}">
    <button
            ng-click="booksListController.deleteBook(book)"
            type="button"
            class="close">
        &times;
    </button>
    <button
            ui-sref="eggly.categories.books.edit({bookId: book.id})"
            type="button"
            class="btn btn-link">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <a href={{book.url}} target="_blank">{{book.title}}</a>
</div>
<hr/>

<ui-view ng-if="booksListController.getCurrentCategory()" class="panels" >
        <div class="col col-xs-12">
            <input
                ui-sref="eggly.categories.books.create"
                type="button"
                class="btn btn-lg btn-warning"
                value="Add Category"/>
        </div>
</ui-view>